*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor{
	width: 95%;
	max-width: 1200px;

}

.animate{
	width: 100%;
	height: 100vh;
	background: linear-gradient (to #FF3333, #0B8CDD);
}

.header_now{
	width: 100%;

}

.header_now h1{
	font-size: 40px;
	color: black;

}

.banner{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner-title h2{
	color: red;
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 15px;
}

.banner-title .diseno{
	color: red;
	font-size: 30px;
	text-decoration: none;
	display: inline-block;
	background: #85929E;
	padding: 20px;
}

.banner-img {
	width: 600px;
	display: block;
}

.efecto {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #000;
	opacity: 0.3;

	position: absolute;
	bottom: 0;
	left: 4%;

	animation: esferas 3s linear infinite;
}

.efecto:nth-child(1){
	width: 80px;
	height: 80px;
	left: 4%;
	animation-direction: 3s;
}
.efecto:nth-child(2){
	width: 80px;
	height: 80px;
	left: 25%;
	animation-direction: 3s;
	animation-delay: 4s;
}

@keyframes esferas {
	0&{
		bottom: 0;
		opacity: 0;
	}
	30%{
		opacity: 0.5;
	}
	100%{
		bottom: 100vh;
		opacity: 0;
	}
}